* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "overpass";
}

html,
body {
    height: 100%;
    background-color: #141519;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main div which contains all the sub elements */
.center {
    border-radius: 2em;
    width: 50%;
    height: 60%;
    background-color: #181F29;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Star */
.star {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}
/* Spacing the left side */
.star, .top, .para{
    margin-left: 8%;
}
/* top heading */
.top{
    font-weight: 700;
    font-size: 32px;
}


/* Interactive Buttons above Submit  */
.btns {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Sub Buttons which will be clicked */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 10%;
    background-color: hsl(213, 19%, 18%);
}

/* Submit button */
.submit {
    width: 80%;
    height: 10%;
    color: white;
    background-color: hsl(25, 97%, 53%);
    border-radius: 2em;
    border: none;
    align-self: center;
}

/* Hover Properties */
.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.btn:hover{
    background-color:  hsl(216, 12%, 54%);
}

.active{
    background-color: hsl(25, 97%, 53%);
}

.img{
    height: 30%;
    display: flex;
    justify-content: space-around;
}

/* JS center Class */
h1{
    height: 50%;
    /* margin: 10% 0 5% 0; */
    display: flex;
    justify-content: center;
}
.mini{
    padding: 1% 4%;
    font-size: 16px;
    border-radius: 2em;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    align-self: center;
}
p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 0  4%;    
}

.home{
    align-items: center;
}
@media only screen and (max-width: 376px) {
    .center{
        width: 90%;
        height: 60%;
    }
}